body {
    min-width: 800px;
}
input {

}
ul {
    list-style: none;
    margin: 0px !important;
    padding: 0px;
}
ul li {
    float: left;
}

.button {
    border-width: 0px;
    width: 80px;
    height: 32px;
    font-family: 'MetricNEW Bold', 'MetricNEW Regular', 'MetricNEW';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background: inherit;
    background-color: rgba(0, 121, 239, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pointer {
    cursor: pointer;
}
#app {

}
#header {
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #777;
    flex-wrap: wrap;
    background-color: #f4f4f4;
}

span.free-orders {
    line-height: 40px;
    font-size: 16px;
    font-family: ubuntu;
    font-weight: 400;
    padding-left: 0px;
    padding-right: 15px;
}
#navigator {
    position: relative;
    background-size: cover;
    background-position: 50% 0;
    transition: background-color .3s, opacity .3s;
}
#sub-nav {
    height: 80px;
    line-height: 80px;

}
#nav-title {
    height: 80px;
    line-height: 80px;
    margin: 0px 45px 0px 10px;
}
#nav-title ul li a.nav-link{
    margin-left: 41px;
}
#nav-title ul li a.nav-icon{
    margin-left: 23px;
}
#navHot {
    height: 65px;
    background-color: #f4f4f4;
}
.nav-link {
    cursor: pointer;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    color: #777;
    font-family: roboto;
}

#content {
    height: 600px;
    overflow-y: auto;
}
#footer {

}

#logo {
    margin-left: 45px;
}
